<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>{% block title %}{{ global.site.title }}{% if model.page.title %} &mdash; {{ model.page.title }}{% endif %}{% endblock %}</title>

<meta name="description" content="Insert Your Site Description" />

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>

<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

<!-- Bootstrap -->
{{ "bootstrap.css" | asset_url | stylesheet_tag }}

<!-- Main Style -->
{{ "main.css" | asset_url | stylesheet_tag }}

<!-- Supersized -->
{{ "supersized.css" | asset_url | stylesheet_tag }}
{{ "supersized.shutter.css" | asset_url | stylesheet_tag }}

<!-- FancyBox -->
{{ "fancybox/jquery.fancybox.css" | asset_url | stylesheet_tag }}

<!-- Font Icons -->
{{ "fonts.css" | asset_url | stylesheet_tag }}

<!-- Shortcodes -->
{{ "shortcodes.css" | asset_url | stylesheet_tag }}

<!-- Responsive -->
{{ "bootstrap-responsive.css" | asset_url | stylesheet_tag }}
{{ "responsive.css" | asset_url | stylesheet_tag }}

<!-- Supersized -->
{{ "supersized.css" | asset_url | stylesheet_tag }}
{{ "supersized.shutter.css" | asset_url | stylesheet_tag }}

<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>

<!-- Fav Icon -->
<link rel="shortcut icon" href="#">

<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">

<!-- Modernizr -->
{{ "modernizr.js" | asset_url | script_tag }}

<!-- Analytics -->
{% include "analytics" %}
<!-- End Analytics -->

</head>


<body>

<!-- This section is for Splash Screen -->
{% include "splash_screen" %}
<!-- End of Splash Screen -->

<!-- Homepage Slider -->
{% include "homepage_slider" %}
<!-- End Homepage Slider -->

<!-- Header -->
{% include "header" %}
<!-- End Header -->

<!-- Our Work Section -->
{% include "our_work" %}
<!-- End Our Work Section -->

<!-- About Section -->
{% include "about" %}
<!-- End About Section -->


<!-- Contact Section -->
{% include "contact" %}
<!-- End Contact Section -->

{% comment %} /// Disabled /////////////////////////////////////////////////////

<!-- Twitter Feed -->
{% include "twitter_feed" %}
<!-- End Twitter Feed -->

{% endcomment %}

<!-- Socialize -->
{% include "socialize" %}
<!-- End Socialize -->

<!-- Footer -->
{% include "footer" %}
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->


<!-- Js -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> <!-- jQuery Core -->
{{ "bootstrap.js" | asset_url | script_tag }} <!-- Bootstrap -->
{{ "supersized.3.2.7.js" | asset_url | script_tag }} <!-- Slider -->
{{ "waypoints.js" | asset_url | script_tag }} <!-- WayPoints -->
{{ "waypoints-sticky.js" | asset_url | script_tag }} <!-- Waypoints for Header -->
{{ "jquery.isotope.js" | asset_url | script_tag }} <!-- Isotope Filter -->
{{ "jquery.fancybox.pack.js" | asset_url | script_tag }} <!-- Fancybox -->
{{ "jquery.fancybox-media.js" | asset_url | script_tag }} <!-- Fancybox for Media -->
{{ "jquery.tweet.js" | asset_url | script_tag }} <!-- Tweet -->
{{ "plugins.js" | asset_url | script_tag }} <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
{{ "parse.js" | asset_url | script_tag }}
{{ "main.js" | asset_url | script_tag }} <!-- Default JS -->
<!-- End Js -->

  <script type="text/javascript">
    Parse.initialize("8JoGexoYKhIiS1KrMesYyqXScsvWQ0tNQa5MZ1dE", "xELKubuROi2JelZ5Mh5IqYI8ed7Tb0Ik7wnk78vP");
  </script>
</body>
</html>
